body {
  font-family: sans-serif;
}
.news_manager {
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  color: white;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
}
/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}
